<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Booking Form - XYZ Car Rental Services</title>
</head>
<body>

    <header>
        <h1>XYZ Car Rental Services</h1>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
 
            </ul>
        </nav>
    </header>

    <section class="banner">

        <div class="banner-img">
            <img src="../images/banner.jpg" alt="Car Rental Banner">
        </div>
        
        <div class="banner-content">
            <h2>@ affordable Price</h2>
        </div>

    </section>

    <section class="booking-form">
        
        <h2>You are booking Sedan.</h2>
        <p>Please provide your details.</p>

        <form action="/book-sedan" method="post">            
            
            <div class="input-field">

            <input type="text" id="name" name="name" placeholder="Name" required>

            </div>

            <div class="input-field">

            <input type="phone" id="phone" name="phone" placeholder="phone" required>

            </div>

            <div class="input-field">

                <input type="text" id="address" name="address" placeholder="Address" required>
    
            </div>

            <div class="input-field">

                <input type="number" id="days" name="days" placeholder="Rental Days" required>

            </div>

            <div>
                <input type="submit" class="submit" value="submit">
            </div>

        </form>

    </section>

    <footer>
        <p>&copy; 2023 XYZ Car Rental Service</p>
    </footer>

</body>
</html>
