<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Contact - XYZ Car Rental Services</title>
</head>
<body>

    <header>
        <h1>XYZ Car Rental Services</h1>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
            </ul>
        </nav>
    </header>

    <section class="banner">

        <div class="banner-img">
            <img src="../images/banner.jpg" alt="Car Rental Banner">
        </div>
        
        <div class="banner-content">
            <h2>@ affordable Price</h2>
        </div>

    </section>

    <section class="contact">

        <h2>Email us</h2>

        <p>cc@xyzcarrental.us</p>

        <h3>Call us</h3>

        <p> 112233</p>

    </section>

    <footer>
        <p>&copy; 2023 XYZ Car Rental Service</p>
    </footer>

</body>
</html>
