<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>XYZ Car Rental Services</title>
</head>
<body>

    <header>
        <h1>XYZ Car Rental Services</h1>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/login">Admin</a></li>
            </ul>
        </nav>
    </header>

    <section class="banner">

        <div class="banner-img">
            <img src="../images/banner.jpg" alt="Car Rental Banner">
        </div>
        
        <div class="banner-content">
            <h2>@ affordable Price</h2>
        </div>

    </section>

    <section class="cars">

        <h2>Select your Car</h2>

        <div class="car-card">
            <img src="../images/car1.jpg" alt="Car 1">
            <h3>Mini</h3>
            <p>Price per day: ₹ 3,300</p>
            <a href="booking-mini" class="cta-button">Rent Now</a>
        </div>

        <div class="car-card">
            <img src="../images/car2.jpg" alt="Car 2">
            <h3>Sedan</h3>
            <p>Price per day: ₹ 4,300</p>
            <a href="booking-sedan" class="cta-button">Rent Now</a>
        </div>

        <div class="car-card">
            <img src="../images/car3.jpg" alt="Car 3">
            <h3>SUV</h3>
            <p>Price per day: ₹ 6,300</p>
            <a href="booking-suv" class="cta-button">Rent Now</a>
        </div>

    </section>

    <footer>
        <p>&copy; 2023 XYZ Car Rental Service</p>
    </footer>

</body>
</html>
